* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
p{
    color: #474747;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
   
}

header hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #3434342f;
}




/* Estilizando o Icon de download */
.title-download-center .material-symbols-outlined {
    font-size: 50px;
    color: #c21b1b;
}

.downloadCenter {
    width: 80%;
}

.title-download-center {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .50rem;
    margin-top: 1rem;
}


.optionsHome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.options{
    display: flex;
    justify-content: center;
    gap: .50rem;
}