* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

p {
  color: #474747;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #3434342f;
}

body {
  background-color: #f6f6f6;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilizando o Icon de download */
.title-download-center .material-symbols-outlined {
  font-size: 50px;
  color: #c21b1b;
}

.downloadCenter {
  width: 60%;
}

.title-download-center {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.optionsHome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Animação dos headers */
.options {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Animação dos headers */
.options:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  color: #c21b1b;
}

/* Div com o input para buscar os drivers */
.search-drivers {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
  margin-top: 2rem;
}


.input-search-drivers {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
}

.input-search-drivers input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #888;
  font-size: 20px;
  pointer-events: none;
}


.options-drivers {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}



/*Estilização do titulo e texto das impressoras */
.title-drivers {
  font-weight: 600;
  font-size: 25px;
}

.text-drivers {
  font-size: 20px;
}


/* Estilização dos cards */
.header-div-driver {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ca4a4a;
  padding: 1rem;
  border-radius: .75rem;
}

.expand-icon {
  font-size: 20px;
  transition: 0.3s;
}

.card-drivers {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.expand-icon.rotate {
  transform: rotate(180deg);
}

.models-container {
  display: none;
  gap: 5rem;

}

.models-container.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
 
}


.buttons-drivers-div {
  display: flex;
  gap: 1rem;
}

.button-driver-download,
.button-tutorial {
  flex: 1;
  border-radius: .5rem;
  border: none;
  padding: .50rem;
}

.button-driver-download{
  background-color: rgb(54, 124, 168);
  color: #fff;
  cursor: pointer;
}

.button-tutorial{
  background-color: rgb(31, 147, 56);
  color: #fff;
  cursor: pointer;
}


.drivers-div {
    transition: all 0.3s ease, opacity 0.3s ease;
}

.drivers-div.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    /* remove do layout */
    display: none;
}